<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haut.promotion.mapper.CouponreceiveMapper">
  <resultMap id="BaseResultMap" type="com.haut.promotion.domain.Couponreceive">
    <!--@mbg.generated generated on Fri Sep 06 11:29:42 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="couponReleaseId" jdbcType="INTEGER" property="couponreleaseid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="getTime" jdbcType="VARCHAR" property="gettime" />
    <result column="isExpire" jdbcType="INTEGER" property="isexpire" />
    <result column="isUsed" jdbcType="INTEGER" property="isused" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Sep 06 11:29:42 CST 2019.-->
    id, couponReleaseId, userId, getTime, isExpire, isUsed
  </sql>
</mapper>