<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haut.promotion.mapper.FullCouponMapper">
  <resultMap id="BaseResultMap" type="com.haut.promotion.domain.FullCoupon">
    <!--@mbg.generated generated on Fri Sep 06 11:29:42 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="full" jdbcType="INTEGER" property="full" />
    <result column="reduction" jdbcType="INTEGER" property="reduction" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Sep 06 11:29:42 CST 2019.-->
    id, `full`, reduction
  </sql>
</mapper>