<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haut.promotion.mapper.SuitPromotionMapper">
  <resultMap id="BaseResultMap" type="com.haut.promotion.domain.SuitPromotion">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suiname" jdbcType="VARCHAR" property="suiname" />
    <result column="goodsids" jdbcType="VARCHAR" property="goodsids" />
    <result column="suitprice" jdbcType="DECIMAL" property="suitprice" />
    <result column="promotionid" jdbcType="INTEGER" property="promotionid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, suiname, goodsids, suitprice, promotionid
  </sql>

</mapper>