<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haut.promotion.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.haut.promotion.domain.Test">
    <!--@mbg.generated generated on Wed Aug 21 09:38:00 CST 2019.-->
    <id column="test" jdbcType="INTEGER" property="test" />
  </resultMap>
</mapper>