<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/css/bootstrap.css"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <p><strong>多买促销</strong></p>
        <p>促销规则</p>
    </div>
    <form style="background: #ebebeb;color: black" action="/insertBuyMore" method="post">
        <div class="container">
            *推广范围:<input type="radio" name="promotionchannels" value="全平台同使用">全平台同使用<input type="radio" name="promotionchannels" value="限平台使用">限平台使用<br><br>
            *推广平台:<input type="checkbox" name="promotionplatfrom" value="主站专享">主站专享<input type="checkbox" name="promotionplatfrom" value="手机专享">手机专享<br><br>
            <div style="float: left">
                *活动名称:<input type="text" name=""><br><br>
                *促销类型:<select name="">
                <option value="满M件N折">满M件N折</option>
                <option value="M元N件">满M元N件</option>
            </select><br><br>
                *会员级别:<select name="">
                <option value="注册及以上">注册及以上</option>
                <option value="大会员及以上">大会员及以上</option>
            </select><br><br>
                推广链接:<input type="text" name=""><br><br>
                活动备注:<input type="text" style="height:40px;width: 200px">
            </div>
            <div style="float: right;margin-right: 450px">
                *活动时间:<input type="datetime-local" name="starttime">&nbsp;&nbsp;至&nbsp;&nbsp;<input
                    type="datetime-local" name="endtime"><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;满&nbsp;&nbsp;<input
                    name="require"
                    type="text" style="width: 50px">&nbsp;&nbsp;元(件)&nbsp;&nbsp;<input name="discount" type="text"
                                                                                       style="width: 50px">&nbsp;&nbsp;件(折)<br>
                *活动规则:满&nbsp;&nbsp;<input name="require" type="text"
                                          style="width: 50px">&nbsp;&nbsp;元(件)&nbsp;&nbsp;<input name="discount"
                                                                                                 type="text"
                                                                                                 style="width: 50px">&nbsp;&nbsp;件件(折)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;满&nbsp;&nbsp;<input
                    name="require"
                    type="text" style="width: 50px">&nbsp;&nbsp;元(件)&nbsp;&nbsp;<input name="discount" type="text"
                                                                                       style="width: 50px">&nbsp;&nbsp;件件(折)<br><br>
                参与方式:<input type="radio" name="">全场参加<input type="radio" name="">部分商品参加<input type="radio" name="">部分商品不参加<br><br>
                <button style="width: 80px;height: 50px" class="btn">下一步</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
