<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div >
        <div class="col-lg-3">
            名称：
            <input name="" type="text" placeholder="请输入优惠券名称"/>
        </div>
        <div class="col-lg-3">
            类型：
            <select name="">
                <option value="0">请选择优惠券类型</option>
            </select>
        </div>
        <div class="col-lg-3">
            面值：
            <input type="text" placeholder="请输入优惠券面值"/>
        </div>
        <div class="col-lg-3">
            条件：
            <input type="text" placeholder="请输入优惠券使用条件"/>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>