<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/my.css" />

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
<body>


<ul class="">
    <li><a href="templates/addSuitPromotion.html" >     <button type="button" class="btn btn-default">添加套装促销</button> </a></li>
    <li><a href="">     <button type="button" class="btn btn-default">查询套装促销</button></a></li>
</ul>

</body>
</html>